@import url(http://fonts.googleapis.com/css?family=Duru+Sans);
* {
  box-sizing: border-box; }

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  font-family: "Duru Sans"; }

/* THE ALMIGHTY CLEARFIX */
.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

.contain {
  margin: 0 auto;
  width: 90%;
  max-width: 980px; }

header {
  background-color: #FAFAFC;
  padding-bottom: 10px; }
  @media (min-width: 740px) {
    header {
      padding-bottom: 258px; } }

.logo {
  margin-top: 0; }
  @media (min-width: 740px) {
    .logo {
      float: left;
      margin-left: 40px; } }
  .logo a {
    display: block;
    width: 200px;
    height: 236px;
    background: url(../images/FedoraManlogosmall.png) no-repeat 0 0;
    background-image: linear-gradient(transparent, transparent), url(../images/FedoraManlogo.svg);
    text-indent: -9999px;
    margin: 0 auto; }

.contactMe {
  text-align: center;
  line-height: 1; }
  @media (min-width: 740px) {
    .contactMe {
      float: right;
      margin-right: 40px;
      margin-top: 50px;
      text-align: left; } }
  .contactMe a {
    margin-right: 10px;
    margin-bottom: 16px;
    color: black;
    font-size: 1.5em;
    width: 24px;
    height: 24px;
    text-align: center; }
    @media (min-width: 840px) {
      .contactMe a {
        float: left;
        display: block;
        -webkit-transform: 0.2s ease-out;
        -moz-transition: 0.2s ease-out;
        -o-transition: 0.2s ease-out;
        transition: 0.2s ease-out; }
        .contactMe a:hover {
          -webkit-transform: scale(1.4);
          -moz-transform: scale(1.4);
          -o-transform: scale(1.4);
          transform: scale(1.4); } }
  .contactMe p {
    clear: both; }

ul {
  list-style: none;
  padding-left: 0;
  text-align: center; }
  ul li {
    padding-bottom: 7px; }
    @media (min-width: 931px) {
      ul li {
        display: inline-block; } }
    ul li img {
      width: 300px; }
      @media (min-width: 840px) {
        ul li img {
          -webkit-transition: 0.2s ease-out;
          -moz-transition: 0.2s ease-out;
          -o-transition: 0.2s ease-out;
          transition: 0.2s ease-out; }
          ul li img:hover {
            -webkit-transform: scale(1.2);
            -moz-transform: scale(1.2);
            -o-transform: scale(1.2);
            transform: scale(1.2);
            -webkit-box-shadow: 0px 0px 30px #333;
            -moz-box-shadow: 0px 0px 30px #333;
            -o-box-shadow: 0px 0px 30px #333;
            box-shadow: 0px 0px 30px #333; } }
      @media (min-width: 931px) {
        ul li img {
          width: 236px;
          margin: 20px; } }

main {
  clear: both; }

.work {
  background-color: #4b5e6c;
  color: #fff;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px; }

.me {
  background-color: #FAFAFC;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px; }
  @media (min-width: 840px) {
    .me {
      padding-bottom: 235px; } }
  .me img {
    width: 300px;
    border-radius: 50%; }
    @media (min-width: 840px) {
      .me img {
        float: left;
        margin-left: 20px;
        margin-right: 10%; } }
  @media (min-width: 840px) {
    .me .aboutme {
      margin-right: 20px; } }
  @media (min-width: 840px) {
    .me .aboutme h2 {
      margin-top: 45px;
      text-align: left; } }
  .me .aboutme p {
    text-align: left;
    margin: 0 auto; }

.skills {
  background-color: #4b5e6c;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  clear: both; }
  @media (min-width: 840px) {
    .skills {
      padding-bottom: 120px;
      padding-top: 40px; } }
  @media (min-width: 840px) {
    .skills .tech {
      width: 40%;
      float: left;
      margin-left: 55px; } }
  .skills .tech h2 {
    margin-top: 0;
    margin-bottom: 4px; }
  .skills .tech p {
    margin-top: 5px; }
  @media (min-width: 840px) {
    .skills .skillz {
      float: right;
      width: 50%; } }
  .skills .skillz h2 {
    margin-top: 0;
    margin-bottom: 4px; }
  .skills .skillz p {
    margin-top: 5px; }

.maincont {
  color: #fff;
  background-color: #28313a;
  text-align: center;
  padding-bottom: 10px; }
  @media (min-width: 840px) {
    .maincont {
      padding-bottom: 315px; } }
  .maincont h1 {
    margin-top: 0; }
  .maincont .contImg {
    width: 360px; }
    @media (min-width: 740px) {
      .maincont .contImg {
        width: 600px; } }
    @media (min-width: 840px) {
      .maincont .contImg {
        float: left;
        width: 45%; } }
  .maincont .contWord {
    text-align: left; }
    @media (min-width: 840px) {
      .maincont .contWord {
        width: 45%;
        max-width: 450px;
        float: right; } }
    .maincont .contWord a {
      color: #fff; }

.pages {
  margin-bottom: 0; }

.screenshots {
  background-color: #4b5e6c;
  padding-top: 1px;
  padding-bottom: 1px;
  color: #fff;
  clear: both; }

.nextpage {
  background-color: #4b5e6c;
  padding: 35px;
  padding-bottom: 45px; }
  .nextpage a {
    text-decoration: none;
    color: #fff;
    font-size: 1.4em; }
    @media (min-width: 840px) {
      .nextpage a {
        float: left;
        display: block;
        -webkit-transform: 0.2s ease-out;
        -moz-transition: 0.2s ease-out;
        -o-transition: 0.2s ease-out;
        transition: 0.2s ease-out; }
        .nextpage a:hover {
          -webkit-transform: scale(1.4);
          -moz-transform: scale(1.4);
          -o-transform: scale(1.4);
          transform: scale(1.4); } }
  .nextpage .left {
    position: absolute;
    left: 0; }
  .nextpage .right {
    position: absolute;
    right: 0; }

.special {
  position: relative; }

footer {
  background-color: #28313a;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  clear: both; }
  @media (min-width: 740px) {
    footer {
      padding-bottom: 162px; } }
  footer h2 {
    margin-top: 0; }
    @media (min-width: 740px) {
      footer h2 {
        margin-top: 76px;
        margin-left: 40px;
        float: left;
        font-size: 2em; } }
  footer .contactMe a {
    color: #fff; }

/*# sourceMappingURL=main.css.map */
