ul {
	list-style: none;
	padding-left: 0;
	text-align: center;



	li {
		padding-bottom: 7px;

		@include breakpoint($listInline){
			display: inline-block;
		}

		img {
		width: 300px;

		@include breakpoint($medium){
			-webkit-transition: 0.2s ease-out;
			-moz-transition: 0.2s ease-out;
			-o-transition: 0.2s ease-out;
			transition: 0.2s ease-out;

			&:hover {
				-webkit-transform:scale(1.1);
				-moz-transform:scale(1.1);
				-o-transform:scale(1.1);
				transform:scale(1.1);
				-webkit-box-shadow:0px 0px 30px #333;
				-moz-box-shadow:0px 0px 30px #333;
				-o-box-shadow:0px 0px 30px #333;
				box-shadow:0px 0px 30px #333;

			}
		}

		@include breakpoint($listInline){
			width: 236px;
  		    margin: 20px;
		}
		}
	}
}

.recentWork {

	@include breakpoint($medium){
			-webkit-transition: 0.2s ease-out;
			-moz-transition: 0.2s ease-out;
			-o-transition: 0.2s ease-out;
			transition: 0.2s ease-out;

			&:hover {
				-webkit-transform:scale(1.2);
				-moz-transform:scale(1.2);
				-o-transform:scale(1.2);
				transform:scale(1.2);
				-webkit-box-shadow:0px 0px 30px #333;
				-moz-box-shadow:0px 0px 30px #333;
				-o-box-shadow:0px 0px 30px #333;
				box-shadow:0px 0px 30px #333;
			}
		}

}


main {
	clear: both;
}

.work {
	background-color: $main;
	color: #fff;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;

}

.me {
	background-color: $offWhite;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;

	@include breakpoint($medium){
			padding-bottom: 235px;
		}

	img {
		width: 300px;
		border-radius: 50%;

		@include breakpoint($medium){
			float: left;
			margin-left: 20px;
			margin-right: 10%;
		}

	}

	.aboutme {

		@include breakpoint($medium){
			margin-right: 20px;
		}

		h2 {
			@include breakpoint($medium){
				margin-top: 45px;
				text-align: left;
			}
		}

		p {
			text-align: left;
			margin: 0 auto;

			@include breakpoint($medium){
				
			}
		}
	}
}

.skills {
	background-color: $main;
	color: #fff;
	padding-top: 10px;
	padding-bottom: 10px;
	clear: both;

	@include breakpoint($medium){
		padding-bottom: 120px;
		padding-top: 40px;
	}

	.tech {

		@include breakpoint($medium){
			width: 40%;
			float: left;
			margin-left: 55px
		}

		h2 {
		margin-top: 0;
		margin-bottom: 4px;
	}

	p {
		margin-top: 5px;
	}
	}

	.skillz {

		@include breakpoint($medium){
			float: right;
			width: 50%;
		}

		h2 {
		margin-top: 0;
		margin-bottom: 4px;
	}

	p {
		margin-top: 5px;
	}
	}

}

///////////Content Pages////////////////////////

.maincont {
	color: #fff;
	background-color: $footer;
	text-align: center;
	padding-bottom: 10px;
	padding-top: 20px;

	@include breakpoint($medium) {
		padding-bottom: 315px;
		padding-top: 30px;
	}

	h1 {
		margin-top: 0;

		@include breakpoint($medium){
			display: none;
		}
	}

	.contImg {
		width: 360px;

		@include breakpoint($small) {
			width: 600px;
		}

		@include breakpoint($medium){
			float: left;
			width: 45%;
		}
	}

	.contWord {
		text-align: left;

		@include breakpoint($medium) {
			width: 45%;
			max-width: 450px;
			float: right;
		}

		a {
			color: #fff;

			@include breakpoint($medium){
			-webkit-transform: color 0.2s ease-out; 
  			-moz-transition: color 0.2s ease-out;
  			-o-transition: color 0.2s ease-out;
  			transition: color 0.2s ease-out;

			&:hover {
				color: #89A7C6;
			}
		}
	}

		h1 {
			display: none;

			@include breakpoint($medium){
				display: block;
			}
		}
	}
}

.pages {
	margin-bottom: 0;
}

.screenshots {
	background-color: $main;
	padding-top: 1px;
	padding-bottom: 1px;
	color: #fff;
	clear: both;
}

.nextpage {
	background-color: $main;
	padding: 35px;
	padding-bottom: 45px;

	a {
		text-decoration: none;
		color: #fff;
		font-size: 1.4em;

		@include breakpoint($medium){
			float: left;
			display: block;
			-webkit-transform: 0.2s ease-out; 
  			-moz-transition: 0.2s ease-out;
  			-o-transition: 0.2s ease-out;
  			transition: 0.2s ease-out;

			&:hover {
				-webkit-transform:scale(1.2);
				-moz-transform:scale(1.2);
				-o-transform:scale(1.2);
				transform:scale(1.2);


			}
		}
	}

	.left {
		position: absolute;
		left: 0;
	}

	.right {
		position: absolute;
		right: 0;
	}
}

.special {
	position: relative;
}