footer {
	background-color: $footer;
	color: #fff;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	clear: both;

	@include breakpoint($small){
		padding-bottom: 172px;
		padding-top: 0;
	}

	h2 {
		margin-top: 0;

		@include breakpoint($small){
			margin-top: 50px;
			margin-left: 40px;
			float: left;
			font-size: 2em;
		}
	}
	
	.contactMe a {
		color: #fff;
	}
}