@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);

* {
  box-sizing: border-box;
}

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-family: "Raleway";
}

/* THE ALMIGHTY CLEARFIX */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}

.contain {
	margin: 0 auto;
	width: 90%;
  max-width: 980px;
}