header {
	background-color: $offWhite;
	padding-bottom: 10px;

	@include breakpoint($small) {
		padding-bottom: 258px;
	}

}

.logo  {
	margin-top: 0;

	@include breakpoint($small){
		float: left;
		margin-left: 40px;
	}
	a {
		display: block;
		width: 200px;
		height: 236px;
		background: url(../images/FedoraManlogosmall.png) no-repeat 0 0;
		background-image: linear-gradient(transparent, transparent), url(../images/FedoraManlogo.svg);
		text-indent: -9999px;
		margin: 0 auto;

	}
}

.contactMe {

	text-align: center;
	line-height: 1;

	@include breakpoint($small) {
		float: right;
		margin-right: 40px;
		margin-top: 50px;
		text-align: left;
	}
	
	a {
		
		
		margin-right: 10px;
		margin-bottom: 16px;
		color: black;
		font-size: 1.5em;
		width: 24px;
		height: 24px;
		text-align: center;

		@include breakpoint($medium){
			float: left;
			display: block;
			-webkit-transform: 0.2s ease-out; 
  			-moz-transition: 0.2s ease-out;
  			-o-transition: 0.2s ease-out;
  			transition: 0.2s ease-out;

			&:hover {
				-webkit-transform:scale(1.4);
				-moz-transform:scale(1.4);
				-o-transform:scale(1.4);
				transform:scale(1.4);


			}
		}
	}


	p { 
		clear: both;
	}
}

